In [1]:
import pandas as pd

In [24]:
country_f = 'country-populations-2015.csv'
country_df = pd.read_csv(country_f, encoding='utf-8')

country_df.head(2)

,Time,Country Name,Country_Code,Female population 00-04 [SP.POP.0004.FE],Female population 10-14 [SP.POP.1014.FE],Female population 20-24 [SP.POP.2024.FE],Male population 75-79 [SP.POP.7579.MA],Male population 65-69 [SP.POP.6569.MA],Male population 55-59 [SP.POP.5559.MA],Male population 45-49 [SP.POP.4549.MA],...,Female population 35-39 [SP.POP.3539.FE],Female population 45-49 [SP.POP.4549.FE],Female population 75-79 [SP.POP.7579.FE],Female population 65-69 [SP.POP.6569.FE],Female population 55-59 [SP.POP.5559.FE],Female population 70-74 [SP.POP.7074.FE],Female population 60-64 [SP.POP.6064.FE],Female population 50-54 [SP.POP.5054.FE],Female population 40-44 [SP.POP.4044.FE],Female population 30-34 [SP.POP.3034.FE]
0,2015,New Zealand,NZL,152636,146321,161996,55054,114350,140978,148437,...,139771,161769,62816,119546,149872,86341,129177,172790,169666,146260
1,2015,Afghanistan,AFG,2411754,2173593,1465672,56811,174910,329412,544017,...,788488,496113,67306,201471,316760,118175,248451,395540,619577,984233

In [25]:
cols_unform = country_df.columns.tolist()

print (cols_unform)

['Time', 'Country Name', 'Country_Code', 'Female population 00-04 [SP.POP.0004.FE]', 'Female population 10-14 [SP.POP.1014.FE]', 'Female population 20-24 [SP.POP.2024.FE]', 'Male population 75-79 [SP.POP.7579.MA]', 'Male population 65-69 [SP.POP.6569.MA]', 'Male population 55-59 [SP.POP.5559.MA]', 'Male population 45-49 [SP.POP.4549.MA]', 'Male population 35-39 [SP.POP.3539.MA]', 'Male population 25-29 [SP.POP.2529.MA]', 'Male population 15-19 [SP.POP.1519.MA]', 'Male population 05-09 [SP.POP.0509.MA]', 'Female population 80+ [SP.POP.80UP.FE]', 'Male population 00-04 [SP.POP.0004.MA]', 'Male population 10-14 [SP.POP.1014.MA]', 'Male population 20-24 [SP.POP.2024.MA]', 'Male population 30-34 [SP.POP.3034.MA]', 'Male population 40-44 [SP.POP.4044.MA]', 'Male population 50-54 [SP.POP.5054.MA]', 'Male population 60-64 [SP.POP.6064.MA]', 'Male population 70-74 [SP.POP.7074.MA]', 'Male population 80+ [SP.POP.80UP.MA]', 'Female population 05-09 [SP.POP.0509.FE]', 'Female population 15-19 [SP.POP.1519.FE]', 'Female population 25-29 [SP.POP.2529.FE]', 'Female population 35-39 [SP.POP.3539.FE]', 'Female population 45-49 [SP.POP.4549.FE]', 'Female population 75-79 [SP.POP.7579.FE]', 'Female population 65-69 [SP.POP.6569.FE]', 'Female population 55-59 [SP.POP.5559.FE]', 'Female population 70-74 [SP.POP.7074.FE]', 'Female population 60-64 [SP.POP.6064.FE]', 'Female population 50-54 [SP.POP.5054.FE]', 'Female population 40-44 [SP.POP.4044.FE]', 'Female population 30-34 [SP.POP.3034.FE]']

In [26]:
cols_form = [x.split(' [')[0] for x in cols_unform]

print (cols_form)

['Time', 'Country Name', 'Country_Code', 'Female population 00-04', 'Female population 10-14', 'Female population 20-24', 'Male population 75-79', 'Male population 65-69', 'Male population 55-59', 'Male population 45-49', 'Male population 35-39', 'Male population 25-29', 'Male population 15-19', 'Male population 05-09', 'Female population 80+', 'Male population 00-04', 'Male population 10-14', 'Male population 20-24', 'Male population 30-34', 'Male population 40-44', 'Male population 50-54', 'Male population 60-64', 'Male population 70-74', 'Male population 80+', 'Female population 05-09', 'Female population 15-19', 'Female population 25-29', 'Female population 35-39', 'Female population 45-49', 'Female population 75-79', 'Female population 65-69', 'Female population 55-59', 'Female population 70-74', 'Female population 60-64', 'Female population 50-54', 'Female population 40-44', 'Female population 30-34']

In [27]:
country_df.columns = cols_form


col_groups = [x.split()[2] for x in cols_form if x.startswith('Male')]
col_groups.sort()

print (col_groups)

['00-04', '05-09', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74', '75-79', '80+']

In [43]:
cols_total = ['Country Name', 'Country_Code']


for group in col_groups:
    col_male = 'Male population {}'.format(group)
    col_female = 'Female population {}'.format(group)
    col_total = 'Total population {}'.format(group)
    
    cols_total.append(col_total)
    country_df[col_total] = country_df[col_male] + country_df[col_female]

In [7]:
country_df.columns

Index(['Time', 'Country Name', 'Country_Code', 'Female population 00-04',
       'Female population 10-14', 'Female population 20-24',
       'Male population 75-79', 'Male population 65-69',
       'Male population 55-59', 'Male population 45-49',
       'Male population 35-39', 'Male population 25-29',
       'Male population 15-19', 'Male population 05-09',
       'Female population 80+', 'Male population 00-04',
       'Male population 10-14', 'Male population 20-24',
       'Male population 30-34', 'Male population 40-44',
       'Male population 50-54', 'Male population 60-64',
       'Male population 70-74', 'Male population 80+',
       'Female population 05-09', 'Female population 15-19',
       'Female population 25-29', 'Female population 35-39',
       'Female population 45-49', 'Female population 75-79',
       'Female population 65-69', 'Female population 55-59',
       'Female population 70-74', 'Female population 60-64',
       'Female population 50-54', 'Female population 40-44',
       'Female population 30-34', 'Total population 00-04',
       'Total population 05-09', 'Total population 10-14',
       'Total population 15-19', 'Total population 20-24',
       'Total population 25-29', 'Total population 30-34',
       'Total population 35-39', 'Total population 40-44',
       'Total population 45-49', 'Total population 50-54',
       'Total population 55-59', 'Total population 60-64',
       'Total population 65-69', 'Total population 70-74',
       'Total population 75-79', 'Total population 80+'],
      dtype='object')

In [56]:
cols_perc = ['Country Name', 'Country_Code']

country_df['Total Population All'] = country_df[cols_total[2:]].sum(axis=1)

for group in col_groups:
    col_male = 'Male population {}'.format(group)
    col_female = 'Female population {}'.format(group)
    col_total = 'Total population perc {}'.format(group)
    cols_perc.append(col_total)
    
    
    country_df[col_total] = ((country_df[col_male] + country_df[col_female]) / country_df['Total Population All']) * 100

In [57]:
perc_df = country_df[cols_perc]

for i, col in enumerate(cols_perc):
    group = col.split()[-1]
    cols_perc[i] = group

perc_df.columns = cols_perc
perc_df.to_csv('population-percentages.csv', index=False)

In [58]:
print (cols_perc[2:])

['00-04', '05-09', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74', '75-79', '80+']

In [44]:
final_df = country_df[cols_total]
final_df.head()

,Country Name,Country_Code,Total population 00-04,Total population 05-09,Total population 10-14,Total population 15-19,Total population 20-24,Total population 25-29,Total population 30-34,Total population 35-39,Total population 40-44,Total population 45-49,Total population 50-54,Total population 55-59,Total population 60-64,Total population 65-69,Total population 70-74,Total population 75-79,Total population 80+
0,New Zealand,NZL,313365,315316,299968,312893,327156,288381,281144,266948,322052,310206,332713,290850,251721,233896,166985,117870,164239
1,Afghanistan,AFG,4950250,4903273,4471809,3833084,3051662,2460206,2061977,1672963,1312233,1040130,823146,646172,496547,376381,225865,124117,76747
2,Antigua and Barbuda,ATG,7280,7300,7620,7926,7765,6815,6340,5303,6923,8183,5920,4571,3294,1951,1818,1335,1474
3,Armenia,ARM,207244,188829,158700,178800,257221,282907,253092,202068,170450,170675,234850,219792,166387,95827,51173,92663,87034
4,Austria,AUT,408295,400998,418016,465533,547022,561174,582356,545935,612608,719122,697318,593623,465885,435426,432162,316238,436658

In [45]:
final_df.to_csv('raw-populations.csv', index=False)

In [53]:
for x in cols_perc:
    print (x.split(' '))

['Country', 'Name']
['Country_Code']
['Total', 'population', 'perc', '00-04']
['Total', 'population', 'perc', '05-09']
['Total', 'population', 'perc', '10-14']
['Total', 'population', 'perc', '15-19']
['Total', 'population', 'perc', '20-24']
['Total', 'population', 'perc', '25-29']
['Total', 'population', 'perc', '30-34']
['Total', 'population', 'perc', '35-39']
['Total', 'population', 'perc', '40-44']
['Total', 'population', 'perc', '45-49']
['Total', 'population', 'perc', '50-54']
['Total', 'population', 'perc', '55-59']
['Total', 'population', 'perc', '60-64']
['Total', 'population', 'perc', '65-69']
['Total', 'population', 'perc', '70-74']
['Total', 'population', 'perc', '75-79']
['Total', 'population', 'perc', '80+']